
.titulo{
    float: right;
    text-align: right;
    color: rgb(10, 1, 1);
    font-size: 60px;
    font-weight: bolder; 
    padding-right: 250px;
}
.body1{
 background-image: url('https://i.pinimg.com/564x/2d/4c/da/2d4cdad2b804009c283992039ee0b6df.jpg');


     

}
.imagen1{
/*float: left,;*/
width: 130px;
padding-left: 300px;
padding-top: 30px;


}

.Grilla
{
display: grid;
width: 80%;
height: 90%;
margin: auto;
grid-template-columns: 75px 75px 75px 75px auto;
grid-template-rows: 30px 50px 50px 30px 0px auto;
background-image: url('https://i.pinimg.com/564x/2d/4c/da/2d4cdad2b804009c283992039ee0b6df.jpg');

}

.caja
{
margin: auto;
text-align: center;
line-height: 50px;

}

.c1
{
   grid-column: 2 / 4;
   grid-row: 1/5;
      
  border-top: 5px;
    
}
.c2
{
    grid-column: 5;
    grid-row: 2/4;
      
       margin-left: 0px;
}
.c3
{
   
    grid-column: 1 /2/3/4;
    grid-row: 6;
    width: auto;
    margin-top: 0px;
 
    text-align: center;
    
}
.c4
{
    grid-column: 5;
    grid-row: 6;
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    
}
.c4 h2
{
text-align: center;
x
font-size: 30px;
}

.imagen
{
height: 150px ;
border-radius: 2em;


}
.imagenc4
{
    grid-column: 5;
    grid-row: 6;
    text-align: left;
    margin-top: 0px;
    margin-left: 0px;
    opacity: 0.5;
    height: auto;
    width: 500;
    border-radius: .5em;
    background-image: url( https://media.istockphoto.com/id/1250244754/es/foto/textura-de-papel-ecol%C3%B3gico-fondo-para-dise%C3%B1o-espacio-de-copia.jpg?s=612x612&w=0&k=20&c=5PAJZcBcmpZPeMKjWMPOeIdi1jfkMSke1_mgrg16jpE=)
    
    
}
.boton
{
width: 150px;
height: 50px;
border-radius: .5em ;
background-color: rgb(4, 122, 113);
cursor: pointer;
transition:background-color 1s  ;

}
.boton:hover
{
background-color: aqua;

}
.boton p
{
text-align: center;
color: white;
font-size: 15px;
}
.eduform
{
margin-top: 0px;
margin-bottom: 0px;
opacity: 1;

}
.b1
{
display: none;
}
.hr
 {
   height: 5px;
 background-color: rgb(14, 107, 99);
 width: 700px;
 margin: 0px;
 }
.texto
{
opacity: 1;

}

h2{

font-family: 'Roboto', sans-serif;
}